//mixins
@mixin btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 90px;
  height: 48px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &:focus {
    box-shadow: 0px 0px 0px 3px rgba(108, 132, 250, 0.2);
  }
}

@mixin btnText {
  .btnText {
    width: 58px;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin btnIcon {
  .btnIcon {
    font-size: 20px;
  }
}
