// width

$widthIcon: 122px;
$widthJustIcon: 48px;

// colors

// Primary
$primaryTextColor: #fff;
$primaryColor: #ff6000;
$primaryHoverColor: #bf4800;
$primaryPressedColor: #ff904c;

// Variant
$variantColor: #ffefe5;
$variantHoverColor: #ffbf99;
$variantPressedColor: #f5f5f5;
$variantTextColor: #ff6000;
$variantHoverTextColor: #bf4800;

// secondary
$secondaryColor: #6b83fa;
$secondaryHoverColor: #5365bf;
$secondaryPressedColor: #99aaff;
$secondaryTextColor: #fff;

// bordered
$borderedColor: #f5f5f5;
$borderedTextColor: #ff6000;
$borderedHoverColor: #ffefe5;
$borderedFocusColor: #ffefe5;
$borderedPressedColor: #ff904c;
