@import "./_variables.scss";
@import "./_mixins.scss";

.btn {
  @include btn;
  @include btnText;
  @include btnIcon;
}

.width-icon {
  width: $widthIcon;
}

.width-just-icon {
  width: $widthJustIcon;
}

.btn-primary {
  background: $primaryColor;
  color: $primaryTextColor;
}

.btn-primary-enabled {
  &:hover {
    background: $primaryHoverColor;
  }

  &:active {
    background: $primaryPressedColor;
  }
}

.btn-variant {
  background: $variantColor;
  color: $variantTextColor;
}

.btn-variant-enabled {
  &:hover {
    background: $variantHoverColor;
    color: $variantHoverTextColor;
  }

  &:active {
    background: $variantPressedColor;
  }
}

.btn-secondary {
  background: $secondaryColor;
  color: $secondaryTextColor;
}

.btn-secondary-enabled {
  &:hover {
    background: $secondaryHoverColor;
  }

  &:active {
    background: $secondaryPressedColor;
  }
}

.btn-bordered {
  border: 2px solid $primaryColor;
  background: $borderedColor;
  color: $borderedTextColor;
}

.btn-bordered-enabled {
  &:hover {
    background: $borderedHoverColor;
    color: $primaryColor;
  }

  &:focus {
    background: $borderedFocusColor;
  }

  &:active {
    border: 2px solid $borderedPressedColor;
    background: $borderedColor;
    color: $borderedPressedColor;
  }
}

.btn-disabled {
  opacity: 0.38;
  cursor: no-drop;
}
